@use 'base';

.PageSelectorWrapper {
    display: flex;
    justify-content: space-around;
    width: base.$width-default;
    flex-direction: column;
    .CategoryWrapper {
        display: flex;
        .Category {
            height: 56px;
            display: flex;
            width: 187.5px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            opacity: 0.4;
            transition: opacity 0.5s ease-in;
        }
    }
    .Line {
        width: 187.5px;
        height: 3px;
        background-color: base.$black-color;
        transition: transform 0.5s ease;
        transform: translate(0px, 0px);
    }
}