@use 'base';

.RegisterWrapper {
    background-color: base.$background-color;
    width: base.$width-default;
    height: base.$height-register-default;
    display: flex;
    flex-direction: column;
    align-items: center;
    .Form {
        input {
            border: 1px solid black;
            font-family: "Inter";
            color: #24292E;
            padding-left: 12px;
            font-weight: 400;
            font-size: 16px;   
        }
        input::placeholder {
            font-weight: 400;
            font-size: 16px;
            color: #24292E;
        }
        
        .Email {
            margin-top: 36px;
            width: 240px;
            height: 44px;
            border-radius: 4px;
        }
        
        .Password {
            margin-top: 18px;
            margin-bottom: 20px;
            width: 240px;
            height: 44px;
            border-radius: 4px;
        }
        
    }
    a {
        color: base.$purple-color;
        font-family: inter;
        font-weight: 700;
        font-size: 11px;
        line-height: 16px;
    }
}