@use "base";


.StatusWrapper {
    width: 359px;
    height: 124px;
    margin-top: 8px;
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    .Header {
        margin-top: 16px;
        display: flex;   
        margin-left: 16px; 
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 16px;
        .ProfilePhoto {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: black;
        }
        .ProfileInfo {
            margin-left: 8px;
            .Time {
               p {
                font-family: Inter;
                font-style: normal;
                font-weight: normal;
                font-size: 11px;
                line-height: 16px;
                color: #7C8894;
               }
            }
        }
    }
    .Body {
        margin-top: 8px;
        margin-left: 56px;
        font-family: Inter;
        p {
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
        }

    }
    .Footer {
        margin-top: 8px;
        margin-left: 56px;
    }
}