@use "base";

.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 346px;
    position: relative;
    max-height: 346px;
    background-color: base.$background-color;
    overflow-y: auto;
}